---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: false
AccessModifierOffset: -4
NamespaceIndentation: None

# Braces
BreakBeforeBraces: Attach

# Line width
ColumnLimit: 100

# Includes
SortIncludes: CaseInsensitive
IncludeBlocks: Preserve

# Pointers & References
PointerAlignment: Right
ReferenceAlignment: Left

# Spaces
SpaceBeforeParens: ControlStatements
SpaceInEmptyBlock: false
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterCStyleCast: false

# Other
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: true
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
MaxEmptyLinesToKeep: 1
ReflowComments: true
Standard: c++17
...
